extends layout

block content
  div(class='main')
    #board
    div(class='position-entry')
      textarea(class='pgn')
      a(class='submit' href='') Save
  div(class='decks')
    h2 Decks
    ul(class='decks-list')
  script(src='http://code.jquery.com/jquery-2.1.4.min.js')
  script(src='/javascripts/libs/chessboard-0.3.0.js')
  script(src='/javascripts/libs/chess.js')
  script(src='/javascripts/deck-manager.js')
  script(src='/javascripts/chess-trainer.js')
  script(src='/javascripts/add-position.js')